{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <section class="pt-4 pb-4">
        <div class="container">
            {% if error %}
                <div class="fadeInDown animated">
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
            {% endif %}
            <div class="col-lg-6 mx-auto">
                <div class="card mt-4 mb-6">
                    <div class="card-body">
                        <form method="post">
                            {% if app.user %}
                                <div class="mb-3">
                                    {{ 'login.message.logged_as'|trans({ '%user%': app.user }) }}, <a
                                            href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% else %}
                                <div class="ml-4 mr-4">
                                    <h1 class="h3 mb-3 font-weight-normal" align="center">Bonjour!</h1>
                                    <p>Connectez-vous pour découvrir nos fonctionalités.</p>
                                    <div class="form-group">
                                        <label for="inputEmail">Email</label>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                               class="form-control mb-2" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control"
                                               required>
                                    </div>
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    {#<div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox"
                                                   name="_remember_me"> remember me
                                        </label>
                                    </div>#}
                                    <div class="checkbox mb-3">
                                        <a href="{{ path('app_forget_password') }}"
                                           class="">Mot de passe oublié</a>
                                    </div>
                                    <div class="form-group text-center">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Se connecter
                                        </button>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="btn btn-default btn-block btn-sm">
                                            Envie de nous rejoindre? <a href="{{ path('app_register') }}" class="">Créer une compte</a>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}