{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}
{% block title %}Resset password{% endblock %}
{% block content %}
    <section class="pt-4 pb-4">
        <div class="container">
            <div class="col-lg-6 mx-auto">
                <div class="card mt-4 mb-4">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
                        {% if form.password is defined %}
                            {{ form_row(form.password) }}
                        {% endif %}
                        {{ form_row(form.plainPassword) }}
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-block" type="submit">
                                Submit
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}