{% trans_default_domain 'back_messages' %}
{% set route = app.request.get('_route') %}
<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('frontOffice_') }}">Navbar</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown_account"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                >
                    <i class="fas fa-user"></i> Mon compte
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown_account">

                    <li class="dropdown-item{{ route == 'back_user_read' and app.request.get('id') == app.user.id ? ' active' }}">
                        <a href="{{ path('backUser_read', { 'id': app.user.id }) }}">
                            <i class="fas fa-user-cog"></i> Profile
                        </a>
                    </li>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="dropdown-item">
                            <a href="{{ path('backUser_create', { '_switch_user': '_exit' }) }}">
                                <i class="fas fa-"></i> {{ 'nav.end_switch'|trans() }}
                            </a>
                        </li>
                    {% endif %}

                    <li class="dropdown-item{{ route == 'app_reset_password' ? ' active' }}">
                        <a href="{{ path('app_reset_password', { 'id': app.user.id }) }}">
                            <i class="fas fa-"></i> Reset password
                        </a>
                    </li>

                    <li class="dropdown-item">
                        <a href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>