{% extends 'back/layout.html.twig' %}

{% block title %}Liste user {% endblock %}

{% block content %}
    <h1>Listes des utilisateurs</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('backUser_delete', {'id': user.id}) }}">Delete</a>
                    <a href="{{ path('backUser_read', {'id': user.id}) }}">Read</a>
                    <a href="{{ path('backUser_update', {'id': user.id}) }}">Update</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}