{% extends 'back/layout.html.twig' %}

{% block title %}Liste user {% endblock %}

{% block content %}
    <h1>C'ets le profile de <u>{{ users.lastName }}  {{ users.firstName }}</u></h1>
    <p>{{ users.email }}</p>
{% endblock %}