{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}

{% block title %}Update Admin{% endblock %}

{% block content %}
    <section class="pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="h3">Update Admin</h1>
                </div>

            </div>
            <hr>
            <div class="card mt-4 mb-4">
                <div class="card-body">
                    <h2 class="card-title"></h2>
                    <div class="p-4 border border-light">
                        {{ form_start(form) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.roles) }}
                        <button class="btn btn-primary btn-block">
                            <i class="far fa-paper-plane"></i> Submit
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}