{% extends 'back/layout.html.twig' %}

{% block title %}Liste user {% endblock %}

{% block content %}
    <h1>Voir categ</h1>
    <h2>{{ categorie.name }}</h2>
    <h2>{{ categorie.description }}</h2>

{% endblock %}