{% extends 'back/layout.html.twig' %}

{% block title %}Liste user {% endblock %}

{% block content %}
    <h1>Listes des Categories</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <th scope="row">{{ categorie.id }}</th>
                <td>
                    <img src="{{ asset('uploads/' ~ categorie.categorieFile) }}" alt="{{ categorie.name }}" width="100px" height="100px">
                </td>
                <td>{{ categorie.name }}</td>
                <td>{{ categorie.description }}</td>
                <td>
                    <a href="{{ path('categories_delete', {'id': categorie.id}) }}">Delete</a>
                    <a href="{{ path('categories_read', {'id': categorie.id}) }}">Read</a>
                    <a href="{{ path('categories_edit', {'id': categorie.id}) }}">Update</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}