@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// bootstrap
@import "~bootstrap/scss/bootstrap";


// global

$base-font-size: 14px;
$default-color: #ff8a00;
$default-color-hover:#fe9e08;
$default-color-auther:#111;
$default-color-text: #777;


body {

  .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }

  .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
  }

  .btn {
    border-radius: 0;
  }

  .btn-info {
    background-color: $default-color;
    border-color: $default-color;
    &:hover{
      background-color: $default-color-hover;
      border-color: $default-color-hover;
    }
  }

  .btn-primary {
    background-color: $default-color;
    border-color: $default-color;
    &:hover{
      background-color: $default-color-hover;
      border-color: $default-color-hover;
    }
  }

  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    overflow: hidden;
  }

  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $default-color-auther;
    color: #fff;
    transition: all 0.3s;
  }

  #sidebar.active {
    margin-left: -250px;
  }

  #sidebar .sidebar-header {
    padding: 20px;
    background: $default-color;
  }

  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid $default-color;
  }

  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: rem(14);
    display: block;
    color: #fff;
  }

  #sidebar ul li a:hover {
    color: $default-color-auther;
    background: #fff;
    color: $default-color;
  }

  #sidebar ul li.active>a,
  a[aria-expanded="true"] {
    color: #fff;
    background: $default-color;
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $default-color;
  }

  a.article,
  a.article:hover {
    background: $default-color!important;
    color: #fff !important;
  }

  #flash_message {
    width: 100%;
    max-width: 320px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 150px;
    z-index: 999;
  }
}