{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'registration.title ' | trans() }}{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <section class="pt-4 pb-4">
        <div class="container">
            <div class="col-lg-6 mx-auto">
                <div class="card mt-4 mb-4">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
                        {{ form_row(form.email) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.plainPassword) }}
                        {{ form_row(form.agreeTerms) }}
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-block" type="submit">
                                Submit
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
