{% extends 'back/layout.html.twig' %}

{% block title %}Listes des articles!{% endblock %}

{% block content %}
    <h1 class="">Listes des articles avec Ajax</h1>
    <button id="btn-show-article">Toggle Show articles</button>
    <div id="article-container"></div>
    <h1>Listes des Categories</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <th scope="row">
                    <img src="{{ asset('uploads/' ~ product.productFiles) }}" alt="{{ product.name }}" height="100px" width="100px">
                </th>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <a href="{{ path('product_delete', {'id': product.id}) }}">Delete</a>
                    <a href="{{ path('product_read', {'id': product.id}) }}">Read</a>
                    <a href="{{ path('product_update', {'id': product.id}) }}">Update</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article') }}
{% endblock %}
