{% extends 'base.html.twig' %}
{% block title %} {{ article.titre }} {% endblock %}
{% block body %}
    <h1>{{ article.titre }}</h1>
    <p>{{ article.contenu | raw }}</p>
    <p>{{ article.createdAt | date }}: Il y a {{ commentaires|length }} commentaires</p>
    <div>
        <p>Categories:</p>
        {#<p>
            {% for categorie in article.categories %}
                {{ categorie.nom }}
            {% endfor %}
        </p>#}
    </div>
    <div>
        <h2>Commentaires:</h2>
        {% for commentaire in commentaires %}
            <h3>{{ commentaire.contenu }}</h3>
            <h3>{{ commentaire.email }}</h3>
            {% else %}
            <p>Il n'y a pas encore des commentaires a propos de cette article</p>
        {% endfor %}
    </div>

    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('article') }}
{% endblock %}