{% trans_default_domain 'front_messages' %}
{% set route = app.request.get('_route') %}
<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
    <a class="navbar-brand" href="#">Articles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{{ route == 'frontOffice_' ? ' active' }}">
                <a class="nav-link" href="{{ path('frontOffice_') }}">Home</a>
            </li>
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown_account"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    >
                        <i class="fas fa-user"></i> Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown_account">
                        {% if is_granted("ROLE_BACK") %}
                            <li class="dropdown-item">
                                <a href="{{ path('backOffice_') }}">
                                    <i class="fas fa-user-cog"></i> Account
                                </a>
                            </li>
                        {% else %}
                            <li class="dropdown-item">
                                <a href="#">
                                    <i class="fas fa-user-cog"></i> Profile
                                </a>
                            </li>
                        {% endif %}
                        <li class="dropdown-item{{ route == 'app_reset_password' ? ' active' }}">
                            <a href="{{ path('app_reset_password', { 'id': app.user.id }) }}">
                                <i class="fas fa-"></i> Reset password
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{{ path('app_logout') }}">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown_account"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    >
                        <i class="fas fa-user"></i> Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown_account">
                        <li class="dropdown-item{{ route == 'app_login' ? ' active' }}">
                            <a href="{{ path('app_login') }}">
                                <i class="fas fa-sign-in-alt"></i> Login
                            </a>
                        </li>
                        <li class="dropdown-item{{ route == 'front_register' ? ' active' }}">
                            <a href="{{ path('app_register') }}">
                                <i class="fas fa-user"></i> Register
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</div>